.navbar-container {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.096);
  background-color: var(--elements-bg);
}

.navbar {
  max-width: 1200px;
  margin-inline: auto;
  padding: var(--spacing-sm) var(--spacing-md);
  display: flex;
  justify-content: space-between;
}
